.env
cache
artifacts
node_modules
.vscode
typechain-types
bin/
node_modules
.env
coverage
coverage.json
typechain
deployments

#Hardhat files
cache
artifacts
.DS_Store
.deps/npm/@openzeppelin/contracts/utils/Strings.sol
.deps/npm/@openzeppelin/contracts/utils/introspection/IERC165.sol
.deps/npm/@openzeppelin/contracts/utils/introspection/ERC165.sol
.deps/npm/@openzeppelin/contracts/utils/Context.sol
.deps/npm/@openzeppelin/contracts/utils/Address.sol
.deps/npm/@openzeppelin/contracts/token/ERC721/IERC721Receiver.sol
.deps/npm/@openzeppelin/contracts/token/ERC721/IERC721.sol
.deps/npm/@openzeppelin/contracts/token/ERC721/extensions/IERC721Metadata.sol
.deps/npm/@openzeppelin/contracts/token/ERC721/ERC721.sol
.deps/npm/@openzeppelin/contracts/token/ERC20/IERC20.sol
.deps/npm/@openzeppelin/contracts/token/ERC20/extensions/IERC20Metadata.sol
.deps/npm/@openzeppelin/contracts/token/ERC20/ERC20.sol
.deps/npm/@openzeppelin/contracts/token/ERC1155/IERC1155Receiver.sol
.deps/npm/@openzeppelin/contracts/token/ERC1155/IERC1155.sol
.deps/npm/@openzeppelin/contracts/token/ERC1155/extensions/IERC1155MetadataURI.sol
.deps/npm/@openzeppelin/contracts/token/ERC1155/ERC1155.sol
.deps/npm/@openzeppelin/contracts/security/ReentrancyGuard.sol
.deps/npm/@openzeppelin/contracts/interfaces/IERC721.sol
.deps/npm/@openzeppelin/contracts/interfaces/IERC1155.sol
.eslintignore
.eslintrc.js
.npmignore
.nvmrc
.prettierignore
.prettierrc
.solhintignore
.solhint.json
